# Ignore everything
*

# But not these files
!.gitignore
!main.tex
!graphics
!sample.pdf
!sample.tex
!README.md

# Even if they are in subdirectories
!*/

# In case files to be tracked are in subdirectories:
# !*/a/b/file1.txt
# !*/a/b/c/*
